@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: #eeeaea;
}

.login-logo, .register-logo {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
    font-family: 'Lobster', cursive;
}

button {
    color: white;
    background-color: #EA1D2C;
}

label {
    color: #717171;
}

h2 {
    color: #3E3E3E;
}

.custom-file-input~.custom-file-label::after {
    content: "Procurar";
}